# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Dependências
# =========================
node_modules/
**/node_modules/

# =========================
# Build
# =========================
dist/
dist-ssr/
build/

# =========================
# Arquivos locais
# =========================
*.local

# =========================
# Variáveis de ambiente
# =========================
.env
.env.*
backend/.env
backend/.env.*

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/extensions.json

# =========================
# Visual Studio
# =========================
.vs/
**/.vs/
.idea/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# Visual Studio
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# Cache
# =========================
.cache/

# =========================
# Firebase
# =========================
.firebase/

# =========================
# Vite
# =========================
.vite/

# =========================
# Coverage
# =========================
coverage/